.Content {
    color: #ffffff;
    grid-area: Content;
    box-sizing: border-box;
    width: 100%;
    padding: 0em 0.6em;
}

.Content ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.Content li {
    margin: 1px;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Content li img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.Content__list-cards ul {
    width: 100%;
    margin: 0;
}

.Content__list-card {
    font-size: 0.9em;
    margin: 0;
    width: 100%;
}

.Content img {
    width: 256px;
    height: auto;
}

.Content__single-card {
    margin: 1px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #10141A;
}

.Content__single-card p {
    text-align: justify;
}

.Content__comments {
    margin: 0;
}

.Content__single-comment-card {
    margin: 2px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #10141A;
}

.Content__single-comment-card p {
    text-align: justify;
}

.Content__micro-card-container {
    display: flex;
    justify-content: center;
}

.Content__micro-card {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #10141A;
}

.Content__pagination-container {
    width: 100%;
}

.Content__pagination-container ul {
    width: 100%;
    display: flex;
}

.Content__pagination-container li {
    width: 100%;
}

.Content__pagination-button {
    width: 100%;
    font-size: 115%;
}

.Content__pagination-micro-card {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.9em 0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #10141A;
}

.Content__delete-button-container {
    display: flex;
    justify-content: end;
}

.Content__comment-form {
    margin: 1px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 0em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #10141A;
}

@media only screen and (min-width: 768px) {
    .Content li img {
        width: 256px;
        height: 256px;
        object-fit: cover;
        border-radius: 50%;
    }

    .Content img {
        width: 512px;
        height: auto;
    }
}
