.Nav {
    grid-area: Nav;
    width: 100%;
}

.Nav ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.Nav li {
    width: 100%;
    text-decoration: none;
}

.Nav__button {
    background-color: #10141A;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

@media only screen and (min-width: 768px) {

}