#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.Header {
    grid-area: Header;
    width: 100%;
}

.Header__logo-main  {
    width: 128px;
    height: auto;
    object-fit: cover;
}

.Nav {
    grid-area: Nav;
    width: 100%;
}

.Nav ul {
    height: 100%;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.Nav li {
    width: 100%;
    text-decoration: none;
}

.Nav__button {
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.Sidebar {
    grid-area: Sidebar;
    width: 100%;
}

.Sidebar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.Sidebar li {
    margin: 1px;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.Sidebar__button {
    width: 100%;
}

.Sidebar__sort-by {
    display: flexbox;
    justify-content: space-between;
}

.Sidebar__sort-by:active {
    text-shadow: 0 0 7px #646cff, 0 0 10px #646cff, 0 0 21px #646cff;
}

.Sidebar__query-button {
    width: 100%;
}

.Content {
    grid-area: Content;
    box-sizing: border-box;
    width: 100%;
    padding: 1em 0.6em;
}

.Content ul {
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.Content li {
    margin: 1px;
    text-decoration: none;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Content li img {
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 50%;
}

.Content__list-cards ul {
    width: 100%;
    margin: 0;
}

.Content__list-card {
    margin: 0;
    width: 100%;
}

.Content img {
    width: 256px;
    height: auto;
}

.Content__single-card {
    margin: 1px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

.Content__comments {
    margin: 0;
}

.Content__single-comment-card {
    margin: 2px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

.Content__single-comment-card ul {
    background-color: #242424;
}

.Content__micro-card-container {
    display: flex;
    justify-content: center;
}

.Content__micro-card {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

.Content__pagination-container {
    width: 100%;
}

.Content__pagination-container ul {
    width: 100%;
    display: flex;
}

.Content__pagination-container li {
    width: 100%;
}

.Content__pagination-button {
    width: 100%;
    font-size: 114%;
}

.Content__pagination-micro-card {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

.Content__delete-button-container {
    display: flex;
    justify-content: end;
}

.Content__comment-form {
    margin: 1px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
}

.App {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: min-content auto auto;
    grid-template-areas:
        "Header Nav"
        "Sidebar Sidebar"
        "Content Content";
}

@media only screen and (min-width: 768px) {
    .App {
        font-size: 130%;
        width: 100%;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: auto;
        grid-template-areas:
            "Header Header"
            "Nav Nav"
            "Sidebar Content";
    }
    .Content li img {
        width: 256px;
        height: 256px;
        object-fit: cover;
        border-radius: 50%;
    }

    .Content img {
        width: 512px;
        height: auto;
    }

    .Sidebar ul {
        display: block;
        justify-content: space-around;
        width: 100%;
        list-style-type: none;
        padding: 0;
    }
}
